{{ define "main" }}

{{ partial "feature.html" . }}

<section class="blog">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        {{ range $.Paginator.Pages }}
        <article class="blog-post">
          <div class="blog-post-thumb">
            <img src="{{ .Params.thumbnail  | absURL }}" alt="blog-thum" />
          </div>
          <div class="blog-post-content">
            <div class="blog-post-title">
              <a href="{{ .Permalink }}"> {{ .Title }} </a>
            </div>
            {{ .Summary }}
          </div>
        </article>
        {{ end }}
        {{ partial "pagination" .}}
      </div>

      <div class="col-lg-4">
        <div class="blog-post-widget">
          <div class="latest-widget-title">
            <h2>از کجا بشنوید</h2>
          </div>
          {{ range $i, $.Site.RegularPages }} {{ if eq .Params.tranding true }}
          <div class="latest-widget">
            <div class="latest-widget-thum">
              <a href="{{ .Permalink }}" class="post-thumb"
                style='background-image: url("{{ .Params.thumbnail | absURL }}")'>
              </a>

            </div>
            <div class="latest-widget-content">
              <div class="content-title">
                <a href="{{ .Permalink }}">
                  {{ .Title }}
                </a>
              </div>

            </div>
          </div>
          {{ end }} {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}