{{ define "main" }}

{{ partial "feature.html" . }}

<section class="blog">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        {{ $p := where site.RegularPages "Type" "mainpage" }}
        {{ range $p }}
        <article class="blog-post">
          <div class="blog-post-thumb">
            <img src="{{ .Params.thumbnail  | absURL }}" alt="blog-thum" />
          </div>
          <div class="blog-post-content">
            <div class="blog-post-title">
              <a href="{{ .Permalink }}"> {{ .Title }} </a>
            </div>
            {{ .Summary }}
          </div>
        </article>
        {{ end }}
      </div>

      <div class="col-lg-4">
        <div class="blog-post-widget">
          <div class="latest-widget-title">
            <h2>از کجا بشنویم؟</h2>
          </div>

          {{ range .Site.Params.Podcastlinks }}
          <div class="latest-widget">
            <div class="latest-widget-thum">
              <a href="{{ .link }}" class="post-thumb" style='background-image: url("{{ .icon | absURL }}")'>
              </a>

            </div>
            <div class="latest-widget-content">
              <div class="content-title">
                <a href="{{ .link }}">
                  {{ .name }}
                </a>
              </div>

            </div>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}