{{ $p := where site.RegularPages ".Params.type" "podcast" }}
{{ range first 1 $p }}
<section class="featured">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <article class="featured-post">
          <div class="featured-post-content">
            <p>
              آخرین اپیزود
            </p>
            <a href="{{ .Permalink }}" class="featured-post-title">
              {{ .Title }}
            </a>
            <p>
              {{ .Description }}
            </p>
            <audio controls class="player">
              <source src="{{ .Params.mediaFiles }}" type="audio/mpeg">
              مرورگر شما از پخش صدا پشتیبانی نمیکند.
            </audio>
          </div>
          <div class="featured-post-thumb">
            <a href="{{ .Permalink }}">
              <img src="{{ .Params.thumbnail  | absURL }}" alt="feature-post-thumb" />
            </a>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
{{ end }}